@model HomeViewModel

<form asp-controller="Home" asp-action="Index" method="get">
    <h2>
        SEARCH: <input type="text" name="SearchString" />
        <input type="submit" value="FIND" />
    </h2>
</form>

@if (Model.Collections.Count != 0)
{
    <a asp-controller="Collections"
       asp-action="Index"
       asp-route-collections="@Model.Collections">
        <h1>
            COLLECTIONS
        </h1>
    </a>

    <h2>
        SORT BY:
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.CollectionNameSort">TITLE</a>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.CollectionDateSort">DATE</a>
    </h2>

    <section class="tiles">
        @for (int i = 0; i < (Model.Collections.Count > 3 ? 3 : Model.Collections.Count); i++)
        {
            <article class="style3">
                <span class="image">
                    @if (Model.Collections[i].TitleImagePath == null)
                    {
                        <img src="~/images/empty.jpg" alt="" />
                    }
                    else
                    {
                        <img src="@Model.Collections[i].TitleImagePath" alt="" />
                    }
                </span>
                <a asp-controller="Collections"
                   asp-action="Collection"
                   asp-route-id="@Model.Collections[i].Id">
                    <h2>@Model.Collections[i].Title</h2>
                    <div class="content">
                        <p>@Model.Collections[i].Theme</p>
                    </div>
                </a>
            </article>
        }
    </section>
}

@if (Model.Items.Count != 0)
{
    <a asp-controller="Items"
       asp-action="Index"
       asp-route-items="@Model.Items">
        <h1>
            ITEMS
        </h1>
    </a>

    <h2>
        SORT BY:
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.ItemNameSort">TITLE</a>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.ItemDateSort">DATE</a>
    </h2>

    <section class="tiles">
        @for (int i = 0; i < (Model.Items.Count > 3 ? 3 : Model.Items.Count); i++)
        {
            <article class="style3">
                <span class="image">
                    @if (Model.Items[i].TitleImagePath == null)
                    {
                        <img src="~/images/empty.jpg" alt="" />
                    }
                    else
                    {
                        <img src="@Model.Items[i].TitleImagePath" alt="" />
                    }
                </span>
                <a asp-controller="Items"
                   asp-action="Item"
                   asp-route-id="@Model.Items[i].Id">
                    <h2>@Model.Items[i].Title</h2>
                    <div class="content">
                        <p>@Model.Items[i].Theme</p>
                    </div>
                </a>
            </article>
        }
    </section>
}

<a asp-controller="Tags"
   asp-action="Index"
   asp-route-tags="@Model.Tags">
    <h1>
        TAGS
    </h1>
</a>
<section class="tiles">
    @for (int i = 0; i < (Model.Tags.Count > 6 ? 6 : Model.Tags.Count); i++)
    {
        <article class="style3">
            <span class="image">
                <img src="~/images/tag.jpg" alt="" />
            </span>
            <a asp-controller="Tags"
               asp-action="Tag"
               asp-route-id="@Model.Tags[i].Id">
                <h2>@Model.Tags[i].Name</h2>
            </a>
        </article>
    }
</section>
