@model CollectionsViewModel

<div id="main">
    <div class="inner">
        <form asp-controller="Collections" asp-action="Collection" method="get">
            <h2>
                SEARCH: <input type="text" name="SearchString" />
                <input type="submit" value="FIND" />
            </h2>
        </form>

        @if ((User.Identity.IsAuthenticated) && ((User.Identity.Name == Model.UserName) || (User.IsInRole("admin"))))
        {
            <section class="tiles">
                <article class="style3">
                    <span class="image">
                        <img src="~/images/tag.jpg" alt="" />
                    </span>
                    <a asp-controller="Items"
                       asp-action="Create"
                       asp-route-collectionId="@Model.Collection.Id">
                        <h2>CREATE ITEM</h2>
                    </a>
                </article>
                <article class="style3">
                    <span class="image">
                        <img src="~/images/tag.jpg" alt="" />
                    </span>
                    <a asp-controller="Collections"
                       asp-action="Edit"
                       asp-route-collectionId="@Model.Collection.Id">
                        <h2>EDIT COLLECTION</h2>
                    </a>
                </article>
                <article class="style3">
                    <span class="image">
                        <img src="~/images/tag.jpg" alt="" />
                    </span>
                    <a asp-controller="Collections"
                       asp-action="Delete"
                       asp-route-collectionId="@Model.Collection.Id">
                        <h2>DELETE COLLECTION</h2>
                    </a>
                </article>
            </section>
        }

        <h1>@Model.Collection.Title</h1>
        
        @if (Model.Collection.TitleImage == null)
        {
            <span class="image main"><img src="~/images/empty.jpg" alt="" /></span>
        }
        else
        {
            <span class="image main"><img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Collection.TitleImage))" alt="" /></span>
        }

        @if (Model.UserName != null)
        {
        <h2>CREATOR: <a asp-action="Index" asp-controller="User" asp-route-userId="@Model.Collection.UserId">@Model.UserName</a></h2>
        }
        <h2>@Model.Collection.Theme</h2>
        <h2>@Model.Collection.Description</h2>

        <section class="tiles">
            @foreach (var i in Model.Items)
            {
                <article class="style3">
                    <span class="image">
                        @if (i.TitleImage == null)
                        {
                            <img src="~/images/empty.jpg" alt="" />
                        }
                        else
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(i.TitleImage))" alt="" />
                        }
                    </span>
                    <a asp-controller="Items"
                       asp-action="Item"
                       asp-route-id="@i.Id">
                        <h2>@i.Title</h2>
                        <div class="content">
                            <p>@i.Theme</p>
                        </div>
                    </a>
                </article>
            }
        </section>
    </div>
</div>